#panelbusqueda{
    position: absolute;
    left: 40px;
    top: 90px;
    height: 83%;
    width: 200px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

#panelprincipal{
    position: absolute;
    left: 300px;
    top: 90px;
    height: 83%;
    width: 77%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.lblcontenedor{
    position: relative;
    border-bottom: 2px solid black;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    text-align: center;
}

#panelprincipal .lblcontenedor{
    font-size: 18px;
}

#panelbusqueda .cajatexto{
    width: 170px;
}
#panelbusqueda label{
    padding-left: 10px;
}
#panelbusqueda .btnconestilo{
    margin-left: 25%;
}

.detallecontenedor{
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    background: #ffffff;
}

#panelprincipal .btnconestilo{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 120px;
}



/* MODAL */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 500px;
	width: 900px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
    cursor: pointer;
    background-color: transparent;
    border: none;
	z-index: 999;
}

.close :hover{
    color: #666;
}

.contenedoropcionesmodal{
    position: relative;
    top: 35px;
    text-align: left;
}

.contenedorbotonesmodal{
    position: absolute;
    bottom: 20px;
    left: 0%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.contenedortitulomodal{
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 3px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;

}

.contenedortitulomodal label{
    font-size: 20px;
}

#contenedorinfobasica{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}


.titulocategoriasmodal{
    position: relative;
    top: 0;
    left: -2.5%;
    width: 105%;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 16px !important;
    border: none;
}
#contenedorcategorias{
    border-top: 2px solid black;
    margin-top: 20px;
}

#btnaplicaroferta{
    margin-left: 10px;
}

#btnremoveraplicacion{
    width: 190px;
    margin-left: 10px;
}

#btnaplicaroferta:hover,#btnremoveraplicacion:hover{
    background: green;
}


#contenedorcantaplicantes
{
    position: absolute;
    left: 5px;
    bottom: 5px;
}