html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	overflow: hidden; /*Ocultamos el Scroll de la pagina*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background-color: #F6F4F1 ;
	color: black;
}


#form_container{
	text-align: center;
}

#contenedorgeneral{
	position: relative;
	width: 900px;
	height: 400px;
	margin: 100px auto;
	border: 3px solid #636b6f;
	border-radius: 8px;
	overflow: hidden;
	padding: 20px 10px 10px 10px;
	justify-items: center;
}

#contenedorcampos{
	position: relative;
	margin-left: 10%;
	margin-top: 3%;
}

#contenedorbotones{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 3%;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
	color: black;
	
}


#sirhena{
	position: absolute;
	top: 10px;
	left: 38%;
	font-size: 40px;
	color: purple;
	font-family:  Lucida Console;
}

.boton{
	position: relative;
	width: 200px;
	height: 30px;
	right: 30px;
	border-radius: 6px;
	color: white;
}

#btnguardar{
	background-color: #00ba22;
	
}

#btnguardar:hover{
    background-color: #007315;
}

#btnlimpiar{
	background-color: #d62047;
}

#btnlimpiar:hover{
	background-color: #9c2841;
}

#seguridadcontra{
	margin-left: 10px;
	/* Reset the default appearance */
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
  
	/* Get rid of default border in Firefox. */
	border: none;
	border-radius: 7px;
}

progress.red::-moz-progress-bar {background-color: #b80f38 !important;
border-radius: 7px;}
progress.blue::-moz-progress-bar {background-color: #0064b4 !important;
	border-radius: 7px;}
progress.green::-moz-progress-bar {background-color: #059d21 !important;
	border-radius: 7px;}

#tipopass{
	position: absolute;
	margin-top: 3px;
	left: 43px;
	font-size: 14px;
}

#contraconciden{
	position: absolute;
	right: 280px;
	font-size: 14px;
}