/* archivo CSS que contiene las cosas que se mantienen igual durante todo el sitio*/

html, body 
{
	margin: 0px; /* Comentario en CSS*/
	padding: 0px; /* Los margenes son reducidos a 0*/
	font-family: Segoe UI, Century Gothic,Verdana, Arial;
	background-color: #F6F4F1;
    color: black;
    overflow: hidden;
}


.barranavegacion{
	position: fixed;
	top: 0px;
	height: 64px;
	width: 100%;
	background-color: #fff !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.imagensirhena{
	height: 64px;
    width: 128px;
    cursor: pointer;
}

.botonesbarra{
    float: right !important;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    display:flex;
    justify-content: center;
}


.textobotonbarra{
    position: relative;
    min-width: 80px;
    width: auto;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    color: #88AAA9 ;
    height: 45px;
}

.textobotonbarra:hover{
    background-color: #BDB1AD;
    color: white;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #1DA1F2;
	width: 300px;
    color: black;
    transition: all 0.5s ease-in-out;
}

.ocultar{
    opacity: 0;
    visibility: hidden;
}

a{
    text-decoration: none;
}

@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  #sirhena{
	position: absolute;
	top: 10px;
	left: 45%;
	font-size: 40px;
	color: purple;
	font-family:  Lucida Console;
}


#mensajebienvenida{
    position: absolute;
    left: 130px;
    top: 20px;
}

#cerrosession{
    position: absolute;
    left: 35%;
    top: 40%;
}
#cerrosession2{
    position: absolute;
    left: 37%;
    top: 45%;
}

#sinadasucede{
    position: absolute;
    bottom: 40px;
    left: 43%;
}

#nologeado{
    position: absolute;
    left: 30%;
    top: 39%;
}

#sinpermisos{
    position: absolute;
    left: 20%;
    top: 39%
}

.btnconestilo{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3072ed;
    border-radius: 5px;

    border: none;
    transition: all 0.4s ease 0s;
    height: 20px;
    width: 100px;
    text-align: center;
}

.btnconestilo:hover{
    background: #434343;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}