/* archivo CSS que contiene las cosas que se mantienen igual durante todo el sitio*/

.barranavegacion{
	position: fixed;
	top: 0px;
	height: 64px;
	width: 100%;
	background-color: #fff !important;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.imagensirhena{
	height: 64px;
	width: 128px;
}

.botonesbarra{
    float: right !important;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    display:flex;
    justify-content: center;
}


.textobotonbarra{
    position: relative;
    min-width: 80px;
    width: auto;
    height: 64px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    color: #88AAA9 ;
}

.textobotonbarra:hover{
    background-color: #BDB1AD;
    color: white;
}